@font-face{
    font-family: SairaLight;
    src: url('https://talleraspi.com/fonts/Saira-Light.otf');
}

@font-face {
    font-family: SourceSans;
    src: url('https://talleraspi.com/fonts/SourceSansPro-Regular.ttf');
}

html, body, #app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#imgLogo{
    width: 3rem;
    height: 3rem;
}

nav, header, footer{
    display: block;
}

.table-records-container{    
    display: flex;
    flex-direction: column;    
    align-items: center;      
    margin-top: 1rem; 
}

.input-filters-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.input-filters-container-products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.input-filters-container-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.btns-filter-container{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;    
}

.column-table-filter{
    display: flex;
    flex-direction: column;
}

.hidden-atag{ display: none; }

.table-products{
    width: 80%;
}

/* =======================NUEVOS ESTILOS ======================*/

.btn-edit-service{ margin: 0 auto }


.bg-white{
    width: 100%;
    min-height: 100%;
    background-image: url('https://talleraspi.com/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-repeat{
    background-size: auto;
    background-repeat: repeat;
    width: fit-content;
    min-width: 100%;
}

.justify-content-start{ justify-content: flex-start; }
.align-items-start{ align-items: flex-start; }

.checkbox-container{
    background-color: rgb( 254, 177, 0 );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 0.3rem;
    margin-top: 0.7rem;
    padding: 0.2rem;
}

.w-select{ width: 40%; }

.checkbox-container input{
    width: 1.5rem;
    height: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0.2rem solid white;
    background-color: white;
    border-radius: 0.25rem;
}

.checkbox-container input:checked{ background-color: rgb( 254, 177, 0 ); }
.checkbox-container input:focus{ outline: 0; }
.checkbox-container input:hover{ cursor: pointer; }

.checkbox-container label{
    margin: 0; 
    color: black;
    font-family: SourceSans;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.height-content{ height: fit-content; }

.form h1{ font-family: SairaLight; }

.form h2{ font-family: SairaLight; }

.form textarea{
    width: 90%;
    height: 5rem;
    background-color: rgba(110, 110, 110, 0.5);
    border: 0;
    padding-left: 1rem;
    color: white;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    font-family: SourceSansBlack;
}

.direction-row{ display: flex; flex-direction: row; }

.direction-column{ display: flex; flex-direction: column; } 

.half-window{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-window{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-container{
    background-color: rgb( 254, 177, 0 );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-radius: 0.3rem;
    margin-top: 1rem;
}

.select-container .label-container{
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.select-container .label-container label{ 
    margin: 0; 
    color: black;
    font-family: SourceSans;
    font-size: 1.2rem;
}

.select-container .select{
    border: 1px solid rgb( 254, 177, 0 );
    width: 70%;
    border-radius: 0.3rem;
}

.select-container .select-big{
    width: 100%;
}

.select-container .select .css-1okebmr-indicatorSeparator{ background-color: rgb( 254, 177, 0 ); }
.select-container .select .css-6q0nyr-Svg{ color: rgb( 254, 177, 0 ); }
.select-container .select .css-1pahdxg-control:hover{ border-color: rgb( 254, 177, 0 ); }
.select-container .select .css-1pahdxg-control{ border-color: rgb( 254, 177, 0 ); }

.line-separator{
    border: 1px solid rgb( 254, 177, 0 );
    height: 40rem;
    width: 1px;
    margin: auto 0;
}

.order-searcher{
    position: absolute;
    top: 20%;
    left: 0;
    align-items: flex-start;
    padding-left: 11%;
}

.label-dont-found{ 
    font-family: SourceSans; 
    position: absolute;
    bottom: 35%;
    margin: auto;
}

.btn-container-records{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 20%;
    display: flex;
}

.modal-aspi{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-aspi .btn-container{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.modal-aspi .btn-container .btn-aspi{ margin-left: 1rem; }

.modal-aspi p{
    font-family: SourceSans;
    font-size: 1.5rem;
    text-align: center;
    margin: auto 0;
}

.table-container{
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
    min-width: 80%;
    width: fit-content;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.flex-start{
    justify-content: flex-start;
    align-items: flex-start;
}

.table-container table{
    width: 100%;
}

.table-products{
    padding-top: 0;
}

.table-container table tr th {
    background-color: rgb( 254, 177, 0 );
    padding: 1rem 0.5rem;
    text-align: center;
    font-family: SairaLight;
    color: white;
    border: 1rem solid white;
    border-bottom: 0;
}

.table-filters tr th {
    font-size: 0.8rem;
}

.table-filters{
    max-width: 95%;
}

.table-container tr th:first-child {
    background-color: rgb( 243, 243, 243 );
    color: black;
}

.table-container table tbody tr td{
    text-align: center;
    color: rgb(100, 100, 100);
    font-family: SairaLight;
    border-left: 1rem solid white;
    border-right: 1rem solid white;
    padding: 0.5rem 0;
}

.table-container table tbody tr td p{
    margin: 0;
}

.table-filters tbody tr td p{
    margin: 0;
    font-size: 0.8rem;
}

.table-container table tbody tr .odd{
    background-color: rgb(228, 228, 228);
}

.table-container table tbody tr .even{
    background-color: rgb(243, 243, 243);
}

.btn-edit{
    background-color: transparent;
    border: 0;
    font-family: SourceSans;
    color: rgb(116,116,116);
    font-size: 2rem;
}

.btn-edit img{
    width: 1.5rem;
    height: 1.5rem;
}

.btn-edit:focus{ outline: 0; }
.btn-edit:hover{ cursor: pointer; }

.big{ width: 90%; }

.margin-vertical{ margin: 1rem 0 }

.padding-horizontal-fit-content{ 
    padding: 0 1rem; 
    width: fit-content;
}

.filter-table-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
}

.btn-pagination-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.btn-pagination-container button{
    margin: 0 2rem;
}

.checkbox-sell-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.btn-shop{
    position: fixed;
    bottom: 5%;
    right: 2%;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: rgb( 254, 177, 0 );
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.btn-shop:hover{ cursor: pointer; }
.btn-shop:focus{ outline: 0; }

.btn-shop img{
    width: 1.5rem;
    height: 1.5rem;
}

.shop-list{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.shop-list table tr th {
    background-color: rgb( 254, 177, 0 );
    padding: 1rem 0.5rem;
    text-align: center;
    font-family: SairaLight;
    color: white;
}

.shop-list table tr td {
    text-align: center;
    color: rgb(100, 100, 100);
    font-family: SairaLight;
    padding: 0.5rem 0;
}

.shop-list table tbody tr .odd{
    background-color: rgb(228, 228, 228);
}

.shop-list table tbody tr .even{
    background-color: rgb(243, 243, 243);
}

.btn-aspi-circle{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: rgb( 254, 177, 0 );
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: SourceSans;
    font-size: 1.5rem;
    border: 0;
}

.btn-aspi-circle:hover{ cursor: pointer; }
.btn-aspi-circle:focus{ outline: 0; }

.btn-shop-shop-list-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb( 254, 177, 0 );
}

.shop-list-total-container{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2rem;
    font-family: SourceSans;
}

.toast{
    width: 80%;
    height: 5%;
    border-radius: 1rem;
    position: absolute;
    left: 10%;
    bottom: 5%;
    background-color: rgba( 254, 177, 0, 0.7 );
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-family: SourceSans;
    font-size: 1.2rem;
    animation: fadeout 2s ;
    
}

.small{ width: 30%; }
.padding-horizontal{ padding: 0 1rem; }
.padding-left{ padding-left: 2rem; }
.margin-top{ margin-top: 1rem; }
.margin-bottom{ margin-bottom: 1rem; }
.margin-right{ margin-right: 1rem; }
.margin-vertical-auto{ margin: auto 0; }
.padding-right{ padding-right: 2.5rem; }    
.wo-margin-top{ margin-top: 0; }
.wo-margin-bottom{ margin-bottom: 0; }
.wo-padding{ padding: 0; }
.full-width{ width: 100%; }
.full-height{ height: 100%; }
.max-height{ max-height: 100%; }
.padding-top{ padding-top: 7%; }
.padding-left-checkbox-container{ padding-left: 0.2rem; }
.width-fitcontent{ width: fit-content; }
.justify-content-center{ justify-content: center; }
.margin-btn-shop-list{ margin-left: 10rem; }
.bg-white-input{ 
    background-color: white; 
    color: black;
}

/*=============== CHAVA ====================== */

.select-container-filter {
    border: 1px solid rgb( 254, 177, 0 );
}
.btns-records .input-records .select-car-records{
    
    text-align: center;
    
    
    
    font-family: SourceSans;
    font-size: 1.5rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* padding: .5rem .5rem; */
   
}
.span-filter{
    text-align: center;
    font-family: SourceSans;
    font-size: 1.5rem;
    display: inline-table;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    /* flex-direction: column; */
}
.span-only{
    text-align: left;
    font-family: SourceSans;
    font-size: 1.5rem;
    display: inline-table;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.input-records {
    border: 2px solid rgb(254, 177, 0);
    background-color: gainsboro;
    display: table-column;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-records-car{
    border: 2px solid rgb(254, 177, 0);
    background-color: gainsboro;
    display: table-column;
    border-radius: 0.5rem;
}
.input-year-right{
    border: 2px solid rgb(254, 177, 0);
    background-color: gainsboro;
    display: table-column;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
.input-year-left{
    border: 2px solid rgb(254, 177, 0);
    background-color: gainsboro;
    display: table-column;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
.input-price{
    border: 2px solid rgb(254, 177, 0);
    background-color: gainsboro;
    /* display: table-column;  */
    border-radius: 0.5rem;
}
.btns-records-left{
    background-color: rgb(254, 177, 0);
    /* border-radius: 0.5rem; */
    
    border: 0;
    color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius:  0.5rem;
    border-color: rgb(254, 177, 0);
    height: 2.125rem;
    /* max-height: fit-content; */
    
}
.btns-records{
    background-color: rgb(254, 177, 0);
    /* border-radius: 0.5rem; */
    border: 0;
    color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top: 0.25rem;
    border-bottom: 0.25rem;
    height: 2.125rem;
    /* border-color: rgb(254, 177, 0); */

    
}
.si-filter{
    display: table-row;
    width: max-content;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border: 0.125rem solid rgb(254, 177, 0);
}
.si-filter-price{
    display: table-row;
    width: max-content;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;  
}
.si-filter-btn{
    display: table-row;
    width: max-content;
}

.input-container{
    display: inline-block;
    

}
.btn-guardar{
    margin-top: 3rem;
    justify-content: center;
    display: flex;
}
 .select-car-records{
    border: 0.125rem solid rgb(254, 177, 0);
    /*background-color: gainsboro;
    display: table-column; */
  /* border-bottom: 2px solid #962d22; */
  border-radius: 0.5rem;
  width: auto;
  /* height: 1.875rem; */
} 
.marca{
    text-align: center;
    font-family: SourceSans;
    font-size: 1.5rem;
    display: inline-table;
    justify-content: center;
    align-items: center;
    color: rgb( 254, 177, 0 );
}
.input-car-group{
    display: inline-block;
    flex-direction: row;
    align-content: center;
    margin-bottom: 50px;
}

.si-filter-container{
    display: flex;
    flex: row;
    /* border: 0.125rem solid rgb(254, 177, 0); */
    /* border-top-right-radius: 0.6rem;
    border-bottom-right-radius:  0.6rem;
 */
}

.si-filter:first-child{
    display: flex;
    flex-direction: column;
}

.form-car{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
.select-oil{
    width: 9.5rem;
    border: 0.125rem solid rgb(254, 177, 0);
    border-radius: 0.5rem;
}
hr{
    height: 1px;
    border: 1px solid rgb(254, 177, 0);
    width: 80%;
    background-color: rgb( 254, 177, 0 );
    margin-top: 1rem;
}
.RGB{
    height: 1px;
    border-top: 1px solid rgb(254, 177, 0);
    width: 100%;
    background-color: rgb( 254, 177, 0 );
    margin-top: 1rem;
}

@keyframes fadeout {
    from { opacity: 1; }
    75%{ opacity: 1; }
    to { opacity: 0; }
  }