*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body, #app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#imgLogo{
    width: 3rem;
    height: 3rem;
}

nav, header, footer{
    display: block;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    padding: 0 1rem;
    width: 100%;
    height: 15%;
}

ul.navbar li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

ul.navbar li a:hover{
    background-color: blue;
    color: whitesmoke;
}

form{
    display: flex;
    flex-direction: column;
}

#login-form, #form-eq, #form-service-order{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-form input, #form-eq input, #form-service-order input{
    width: 30%;
    height: 10%;
    margin-bottom: 1rem;
    text-align: center;
}

#login-form button, #form-eq button{
    width: 20%;
    height: 5%;
    margin-bottom: 1rem;
    text-align: center;
}

.select { 
    width: 80%;
}

.btn-container-records {
    width: 100%;
    height: 85%;
    border: 1px solid red;
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-records{
    width: 40%;
    margin-bottom: 1%;
}

.body{
    width: 100%;    
    display: flex;
    flex-direction: column;    
    align-items: center;  
}

.download-pdf-btn{
    color: white;
    padding: 2rem 1rem;
    background-color: cyan;
    text-align: center;
}

.table-records-container{    
    display: flex;
    flex-direction: column;    
    align-items: center;      
    margin-top: 1rem; 
}

.input-filters-container{
    display: flex;
    flex-direction: column;
}

#input-filters-container-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btns-filter-container{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;    
}

.column-table-filter{
    display: flex;
    flex-direction: column;
}

#hidden-atag{
    display: none;
}