@font-face{
    font-family: SairaLight;
    src: url('https://talleraspi.herokuapp.com/fonts/Saira-Light.otf');
}

@font-face {
    font-family: SourceSans;
    src: url('https://talleraspi.herokuapp.com/fonts/SourceSansPro-Regular.ttf');
}

html, body, #app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#imgLogo{
    width: 3rem;
    height: 3rem;
}

nav, header, footer{
    display: block;
}

.btn-container-records {
    width: 100%;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20%;
}

.btn-records{
    width: 40%;
    margin-bottom: 1%;
}

.body{
    width: 100%;    
    display: flex;
    flex-direction: column;    
    align-items: center;  
}

.download-pdf-btn{
    color: white;
    padding: 2rem 1rem;
    background-color: cyan;
    text-align: center;
}

.table-records-container{    
    display: flex;
    flex-direction: column;    
    align-items: center;      
    margin-top: 1rem; 
}

.input-filters-container{
    display: flex;
    flex-direction: column;
}

#input-filters-container-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btns-filter-container{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;    
}

.column-table-filter{
    display: flex;
    flex-direction: column;
}

.hidden-atag{
    display: none;
}

.table-products{
    width: 80%;
}

/* =======================NUEVOS ESTILOS ======================*/

.bg-white{
    width: 100%;
    height: 100%;
    background-image: url('https://talleraspi.herokuapp.com/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-content-start{ justify-content: start; }
.align-items-start{ align-items: flex-start; }

.padding-horizontal{ padding: 0 1rem; }
.padding-left{ padding-left: 2rem; }

.checkbox-container{
    background-color: rgb( 254, 177, 0 );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 0.3rem;
    margin-top: 0.7rem;
    padding: 0.2rem;
}

.checkbox-container input{
    width: 1.5rem;
    height: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0.2rem solid white;
    background-color: white;
    border-radius: 0.25rem;
}

.checkbox-container input:checked{ background-color: rgb( 254, 177, 0 ); }
.checkbox-container input:focus{ outline: 0; }
.checkbox-container input:hover{ cursor: pointer; }

.checkbox-container label{
    margin: 0; 
    color: white;
    font-family: SourceSans;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form h1{ font-family: SairaLight; }

.form h2{ font-family: SairaLight; }

.form textarea{
    width: 90%;
    height: 5rem;
    background-color: rgba(110, 110, 110, 0.5);
    border: 0;
    padding-left: 1rem;
    color: white;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    font-family: SourceSansBlack;
}

.direction-row{ flex-direction: row; }

.direction-column{ flex-direction: column; } 

.half-window{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-window{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-container{
    background-color: rgb( 254, 177, 0 );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-radius: 0.3rem;
    margin-top: 1rem;
}

.big{ width: 90%; }

.select-container .label-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-container .label-container label{ 
    margin: 0; 
    color: white;
    font-family: SourceSans;
    font-size: 1.2rem;
}

.select-container .select{
    border: 1px solid rgb( 254, 177, 0 );
    width: 70%;
    border-radius: 0.3rem;
}

.select-container .select .css-1okebmr-indicatorSeparator{ background-color: rgb( 254, 177, 0 ); }
.select-container .select .css-6q0nyr-Svg{ color: rgb( 254, 177, 0 ); }
.select-container .select .css-1pahdxg-control:hover{ border-color: rgb( 254, 177, 0 ); }
.select-container .select .css-1pahdxg-control{ border-color: rgb( 254, 177, 0 ); }

.line-separator{
    border: 1px solid rgb( 254, 177, 0 );
    height: 40%;
    width: 1px;
}

