@font-face{
    font-family: SairaLight;
    src: url('https://talleraspi.herokuapp.com/fonts/Saira-Light.otf');
}

@font-face {
    font-family: SourceSans;
    src: url('https://talleraspi.herokuapp.com/fonts/SourceSansPro-Regular.ttf');
}

html, body, #app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#imgLogo{
    width: 3rem;
    height: 3rem;
}

nav, header, footer{
    display: block;
}

.btn-container-records {
    width: 100%;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20%;
}

.btn-records{
    width: 40%;
    margin-bottom: 1%;
}

.body{
    width: 100%;    
    display: flex;
    flex-direction: column;    
    align-items: center;  
}

.download-pdf-btn{
    color: white;
    padding: 2rem 1rem;
    background-color: cyan;
    text-align: center;
}

.table-records-container{    
    display: flex;
    flex-direction: column;    
    align-items: center;      
    margin-top: 1rem; 
}

.input-filters-container{
    display: flex;
    flex-direction: column;
}

#input-filters-container-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btns-filter-container{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;    
}

.column-table-filter{
    display: flex;
    flex-direction: column;
}

.hidden-atag{
    display: none;
}

.table-products{
    width: 80%;
}

/* =======================NUEVOS ESTILOS ======================*/

.bg-white{
    width: 100%;
    height: 100%;
    background-image: url('https://talleraspi.herokuapp.com/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form h1{
    font-family: SairaLight;
}

.direction-row{ flex-direction: row; }

.direction-column{ flex-direction: column; }

.half-window{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-container{
    background-color: rgb( 254, 177, 0 );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-radius: 0.3rem;
    margin-top: 1rem;
}
.select-container .label-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-container .label-container label{ 
    margin: 0; 
    color: white;
    font-family: SourceSans;
    font-size: 1.2rem;
}

.select{ width: 40%; }

.select-container .select{
    border: 1px solid rgb( 254, 177, 0 );
    width: 70%;
    border-radius: 0.3rem;
}

.select-container .select .css-1okebmr-indicatorSeparator{ background-color: rgb( 254, 177, 0 ); }
.select-container .select .css-6q0nyr-Svg{ color: rgb( 254, 177, 0 ); }
.select-container .select .css-1pahdxg-control:hover{ border-color: rgb( 254, 177, 0 ); }
.select-container .select .css-1pahdxg-control{ border-color: rgb( 254, 177, 0 ); }

.line-separator{
    border: 1px solid rgb( 254, 177, 0 );
    height: 40%;
    width: 1px;
}



@font-face {
    font-family: SourceSansBold;
    src: url('https://talleraspi.herokuapp.com/fonts/SourceSansPro-Bold.ttf');
}

@font-face {
    font-family: BlueHighWay;
    src: url('https://talleraspi.herokuapp.com/fonts/blue-highway-rg.ttf');
}

#home {
    width: 100%;
    height: 100%;
    background-image: url('https://talleraspi.herokuapp.com/images/background-color.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#logo{
    width: 20rem;
    height: 20rem;
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#home-label{
    position: absolute;
    width: 20%;
    top: 10%;
    left: 10%;
    padding: 1rem;
    border-left: 1rem solid rgb(254, 177, 0);
}

#home-label p{
    font-family: BlueHighWay;
    color: white;
    font-size: 3rem;
}

@font-face {
    font-family: SourceSansBold;
    src: url('https://talleraspi.herokuapp.com/fonts/SourceSansPro-Bold.ttf');
}

.navHome{
    position: absolute;
    bottom: 15%;
    left: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.navHome ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.navHome ul li a{
    color: white;
    font-family: SourceSansBold;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
}

.navHome ul li a:hover{ border-bottom: 5px solid rgb(254, 177, 0); }

.navDefault{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.navDefault ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
}

.navDefault ul li a{
    color: black;
    font-family: SourceSansBold;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
}

.navDefault ul li a:hover{ border-bottom: 5px solid rgb(254, 177, 0); }

.navDefault ul li #a-logo:hover{ border-bottom: 0 }

@font-face {
    font-family: SourceSans;
    src: url('https://talleraspi.herokuapp.com/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: SourceSansBlack;
    src: url('https://talleraspi.herokuapp.com/fonts/SourceSansPro-Black.ttf');
}

#login-container{
    background-image: url('https://talleraspi.herokuapp.com/images/background-color.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-logo{
    width: 15rem;
    height: 15rem;
}

#login{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    width: 30rem;
    height: 2.5rem;
    background-color: rgba(110, 110, 110, 0.5);
    border: 0;
    padding-left: 1rem;
    color: white;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    font-family: SourceSansBlack;
}

.input-center{ text-align: center; }

.form-line{
    border: 1px solid rgb(254, 177, 0);
    width: 20rem;
    height: 1px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.btn-aspi{
    background-color: rgb(254, 177, 0);
    text-align: center;
    border-radius: 0.5rem;
    width: 10rem;
    height: 2.5rem;
    border: 0;
    color: white;
    font-family: SourceSans;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-aspi:hover{
    cursor: pointer;
}

.btn-aspi-gray{
    background-color: rgba(110, 110, 110, 0.5);
    width: 17%;
    height: 10%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.btn-aspi-gray a{
    font-family: SourceSans;
    font-size: 1.5rem;
    color: white;
}

.btn-aspi-gray a:hover{
    text-decoration: none;
    color: white;
}
